*{
    margin: 0;
    padding: 0;
}
body{
    height: 400px;
    background-color: bisque;
    border: 1px solid red;
}
.box{
    width: 7rem;
    height: 7rem;
}
.container{
    background-color: brown;
    width: 200px;
    height: 300px;
    position: relative;
    left: 1rem;
    top: 2rem;
}

.box1{
    background-color: aquamarine;
    position: absolute;
    /* position = esnetme codudur. */
    top: 1rem;
    left: 2rem;
}

.box2{
    background-color:darkorchid;
} 

