body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-link{
  text-transform: uppercase;
  font-weight: 700;
  transition: color 0.7s;
  color: white;
}
.nav-link:hover{
color: red;
}

/* ***********carousel******  */

.carousel-item{
max-height: calc(100vh - 126px);
}
.carousel-item button{
  width: 150px;
}
