*{
    margin: 0;
    padding: 0;
}
.img-float{
    width: 60%;
    float: right;
}
.par1{
    border: 1px solid red;
}
.clearfix{
    clear: both;
    /* Float ozelligini eski akisina getirmek icin clear property'si kullanilir. */
}
.box{
    float: left;
}

.box1{
background-color: tomato;
/* float: left; */
width: 30%;
}
.box2{
background-color: aqua;
/* float: left; */
width: 45%;
}
.box3{
background-color: magenta;
/* float: left; */
width: 20%;
}
