
/* **********WH-VW***** */

VH(viewport heighy) - VW(viewport width)
/*!vh(viewport Height): tarayıcının görünen alanın yüzde birini temsil eder. ÖR:100vh tarayıcının tamamını kaplar, 50vh tarayıcının yarısını kaplar */
/*?vw(Viewport Width):tarayıcının görünen alanın yüzde birini temsil eder. ÖR:100vw tarayıcının tamamını kaplar, 50vw tarayıcının yarısını kaplar*/




*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}
body {
    height: 102vh;
    background-color:aqua;
    border: 2px solid black;
}
.div1{
    background-color: brown;
    width: 50%;
    /* body nin width değerinin her zaman yarısını alır */
    
}
.div2{
    background-color: gold;
    width: 50%;
    /* div1 claslı div in whidth değerinin yarısını alır */
}

.div3{
    background-color: rgb(238, 8, 161);
    width: 50vw;
    
}
